{% extends "main.html" %}

{%block head%}

{% endblock %}

{% block content %}
<form action="{% url 'add' %}" method="post" class="form-inline my-2 my-lg-0">
    {% csrf_token %}
    <label for="title">Название</label><br />
    <input type="text" name="title" id="title" />
  <br>
  <label for="details">Подробно</label><br />
  <textarea name="details" id="details"></textarea>
  <br><br>
    <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Добавить задачу</button>
</form>
<br>
<a href="/">Вернуться</a>
<!--<p>Добавлено: </p> {{todo.created}}-->
{% endblock %}
